<div>
  <form id="doughnut_form">
    <input class='rotation_degree' name="rotation_degree" value="" type='text'/>
    <input type="submit" value="Apply" name="apply" class="apply" />
  </form>
</div>
