<div>
  <div id="circle_points">
    X: <span class='x'></span><br/>
    Y: <span class='y'></span>    
  </div>
  <form id="slider_form">
    <input class='x' name="xaxis" value="" type='text'/>
    <input type="submit" value="Apply" name="apply" class="apply" />
  </form>
</div>
